@*@model MvcKutuphane.Models.Entity.TBLUYELER*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - MVC5 Proje</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/webpanel/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url('../../webpanel/images/bg_1.jpg');">
                <div class="user-logo">
                    <div class="img" style="background-image: url('@Session["Fotograf"]');"></div>
                    <h3>@Session["Ad"] @Session["Soyad"]</h3>
                    @*<h3> @HttpContext.Current.User.Identity.Name</h3>*@
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/Panel/Index/"><span class="fa fa-user mr-3"></span> Profilim</a>
                </li>
                <li>
                    <a href="/Mesajlar/Index/"><span class="fa fa-envelope mr-3"></span> Gelen Mesajlar</a>
                </li>
                <li>
                    <a href="/Mesajlar/Gonderilen/"><span class="fa fa-envelope-open-o mr-3"></span> Gönderilen Mesajlar</a>
                </li>
                <li>
                    <a href="/Mesajlar/YeniMesaj/"><span class="fa fa-envelope-open mr-3"></span> Yeni Mesaj Oluştur</a>
                </li>
                <li>
                    <a href="/Panel/Kitap/"><span class="fa fa-book mr-3"></span> Kitap Geçmişim</a>
                </li>
                <li>
                    <a href="/Panel/Duyurular/"><span class="fa fa-bullhorn mr-3"></span> Duyurular</a>
                </li>
                <li>
                    <a href="/Vitrin/Index/#about"><span class="fa fa-address-book mr-3"></span> Hakkımızda</a>
                </li>
                <li>
                    <a href="/Login/CikisYap/"><span class="fa fa-sign-out mr-3"></span> Çıkış Yap</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>
    <script src="~/webpanel/js/jquery.min.js"></script>
    <script src="~/webpanel/js/popper.js"></script>
    <script src="~/webpanel/js/bootstrap.min.js"></script>
    <script src="~/webpanel/js/main.js"></script>
    @RenderSection("myscript", false)
</body>
</html>



