@model MvcKutuphane.Models.Entity.TBLUYELER
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPanel.cshtml";
}

<h2>Profilim</h2>
<hr />
<br />

@using (Html.BeginForm("Index2", "Panel", FormMethod.Post, new { @class = "was-validated" }))
{
    <table class="table table-warning">
        <tr>
            <td>
                <label>ÜYELİK NUMARASI</label>
                @Html.TextBoxFor(x => x.ID, new { @class = "form-control", disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.AD)
                @Html.TextBoxFor(x => x.AD, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(x => x.AD)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.SOYAD)
                @Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(x => x.SOYAD)

            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.KADI)
                @Html.TextBoxFor(x => x.KADI, new { @class = "form-control", @required = "required" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.OKUL)
                @Html.TextBoxFor(x => x.OKUL, new { @class = "form-control", @required = "required" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.FOTOGRAF)
                @Html.TextBoxFor(x => x.FOTOGRAF, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.SIFRE)
                @Html.TextBoxFor(x => x.SIFRE, new { @class = "form-control", @required = "required", @type = "password" })
                @Html.ValidationMessageFor(x => x.SIFRE)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.SIFREONAY)
                @Html.TextBoxFor(x => x.SIFREONAY, new { @class = "form-control", @required = "required", @type = "password" })
                @Html.ValidationMessageFor(x => x.SIFREONAY)
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-danger">Bilgileri Güncelle</button>
            </td>
        </tr>
    </table>
}

@section myscript{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


