@model MvcKutuphane.Models.Classes.Class1
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MB - Kütüphane Yönetim Paneli</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/web/css/styles.css" rel="stylesheet" />
    <style>
        .vitrinp {
            font-size: 20px !important;
            display: inline !important;
        }

        .img-vitrin {
            width: 160px;
            height: 230px;
        }

        #mainNav .navbar-nav li.nav-item a.nav-link {
            font-size: smaller;
        }
    </style>
</head>
<body id="page-top">
    <!-- NAV Bar-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">KÜTÜPHANE YÖNETİM SİSTEMİ</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">KİTAPLARIMIZ</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Hakkımızda</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">İLETİŞİM</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/Kayit/YeniKayit/">Üye Ol</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/Login/GirisYap/">Giriş Yap</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead Hoşgeldiniz-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="~/web/assets/img/portfolio/lib2.png" alt="" /><!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">kütüphanemize hoşgeldınız..</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">"Okumak; Gözlerin açıkken hayal kurmaktır."</p>
        </div>
    </header>
    <!-- Son Eklenen Kitaplar Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">SON EKLENEN KİTAPLARIMIZ</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Son Eklenen Kitaplar Modals-->
            <div class="row">
                <!-- Portfolio Item 1-->
                @for (int k = Model.Deger1.Count() - 1; k > (Model.Deger1.Count() >= 7 ? Model.Deger1.Count() - 7 : 0); k--)
                {
                    var kitap = Model.Deger1.ElementAt(k);

                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto modal-buttons" data-toggle="modal" data-title="@kitap.AD" data-home="@kitap.YAYINEVI" data-author="@kitap.TBLYAZAR.AD @kitap.TBLYAZAR.SOYAD" data-image="@kitap.KITAPRESIM">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="@kitap.KITAPRESIM" alt="" />
                        </div>
                    </div>
                }
                <div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fas fa-times"></i></span>
                            </button>
                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="bookTitle"></h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <!-- Portfolio Modal - Image--><img class="img-vitrin rounded mb-5" id="bookImage" alt="" />
                                            <div>
                                                <p class="vitrinp mb-3"><b>Yayınevi:  </b></p><p class="vitrinp mb-3" id="bookHome"></p>
                                            </div>
                                            <div>
                                                <p class="vitrinp mb-3"><b>Yazar:  </b></p><p class="vitrinp mb-3" id="bookAuthor"></p>
                                            </div>
                                            <br />
                                            <button class="btn btn-primary btn-sm" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Pencereyi Kapat</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @*<div class="text-center mt-4">
                    <a style="background-color:darkcyan;" class="btn btn-xl btn-outline-light" href=""><i class="fas fa-plus mr-2"></i>Tüm Resimleri Gör</a>
                </div>*@
        </div>
    </section>
    <!-- Hakkımızda Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Hakkımızda</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                @foreach (var item in Model.Deger2)
                {
                    <div class="col-lg-8 mx-auto"><p class="lead">@item.ACIKLAMA</p></div>
                }
            </div>
        </div>
    </section>
    <!-- İletişim Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">İLETİŞİM</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                    @using (Html.BeginForm("Index", "vitrin", FormMethod.Post))
                    {
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Ad Soyad</label><input class="form-control" id="name" name="AD" type="text" placeholder="Ad Soyad" required="required" data-validation-required-message="Lütfen Ad Soyad giriniz." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Email Adresi</label><input class="form-control" id="email" name="MAIL" type="email" placeholder="Email Adresi" required="required" data-validation-required-message="Lütfen Email Adresi giriniz." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Mesaj Konusu</label><input class="form-control" id="phone" name="KONU" type="tel" placeholder="Mesaj Konusu" required="required" data-validation-required-message="Lütfen Mesaj Konusu giriniz." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Mesajınız</label><textarea class="form-control" id="message" name="MESAJ" rows="5" placeholder="Mesajınız" required="required" data-validation-required-message="Lütfen Mesajınızı giriniz."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br />
                            <div id="success"></div>
                            <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Gönder</button></div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Adres</h4>
                    <p class="lead mb-0">06510 Çankaya<br />Ankara</p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Sosyal Medya</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Kütüphane Modülü</h4>
                    <p class="lead mb-0">Bu proje, MVC5 teknolojisi ile hazırlanmıştır. Created by <a href="http://startbootstrap.com">Mert Bahardogan</a>.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © @DateTime.Now.Year.ToString()</small></div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="~/web/assets/mail/jqBootstrapValidation.js"></script>
    <script src="~/web/assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/web/js/scripts.js"></script>

    <script>
        $(function () {
            $("form").submit(function () {
                swal("Ekleme başarılı!", {
                    buttons: false,
                    timer: 30000,
                });
            }) //Süre halledilecek.
        })
    </script>
    <script>
        $(document).ready(function () {
            $(".modal-buttons").on('click', function (event) {
                let currentButton = $(this);
                let bookTitle = $(currentButton).data('title');
                let modal = $('#portfolioModal');
                let bookTitleElement = document.querySelector('#bookTitle');
                bookTitleElement.innerHTML = bookTitle;

                let bookHome = $(currentButton).data('home');
                let bookHomeElement = document.querySelector('#bookHome');
                bookHomeElement.innerHTML = bookHome;

                let bookAuthor = $(currentButton).data('author');
                let bookAuthorElement = document.querySelector("#bookAuthor");
                bookAuthorElement.innerHTML = bookAuthor;

                let bookImage = $(currentButton).data('image');
                $("#bookImage").attr("src", bookImage);                     //Burada src atamamız gerekiyordu. Jquery ile verdiğimiz id'yi bulup atamayı yaptık.

                $(modal).modal('show');
            });
        });
    </script>
</body>
</html>