@using MvcKutuphane.Models.Entity
@model List<TBLHAKKIMIZDA>
@{
    ViewBag.Title = "Ayarlar";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<h3 style="text-align:center;">Ayarlar</h3>
<br />
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Aşağıda bulunan tabloda<strong> Vitrin Ana Sayfası</strong> güncel ayarları listelenmiştir!
</div>
<table class="table table-dark">
    <tr>
        <th>Hakkımızda</th>
        <th>Adres</th>
        <th>Site Özeti</th>
        <th>Facebook Linki</th>
        <th>Twitter Linki</th>
        <th>Linkedin Linki</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ACIKLAMA</td>
            <td>@x.ADRES</td>
            <td>@x.OZET</td>
            <td>@x.FACEBOOK</td>
            <td>@x.TWITTER</td>
            <td>@x.LINKEDIN</td>
        </tr>
    }
</table>
<button type="button" style=" margin-left: 650px;" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalAyarlar">
    Ayarları Güncelle
</button>
<div class="modal" id="modalAyarlar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ayarları Güncelle</h4>
            </div>
            <form method="post" action="/Ayarlar/AyarlarGuncelle">
                <div class="modal-body">
                    <label>Hakkımızda Metni</label>
                    <input type="text" name="ACIKLAMA" class="form-control" required />
                    <br />
                    <label>Adres Metni</label>
                    <input type="text" name="ADRES" class="form-control" required />
                    <br />
                    <label>Site Özet Metni</label>
                    <input type="text" name="OZET" class="form-control" required />
                    <br />
                    <label>Facebook Linki</label>
                    <input type="text" name="FACEBOOK" class="form-control" required />
                    <br />
                    <label>Twitter Linki</label>
                    <input type="text" name="TWITTER" class="form-control" required />
                    <br />
                    <label>Linkedin Linki</label>
                    <input type="text" name="LINKEDIN" class="form-control" required />
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

