@using MvcKutuphane.Models.Entity
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLKITAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>Kitaplar</h2>
<hr />
@Html.ActionLink("Yeni Kitap", "KitapEkle", null, new { @class = "btn btn-dark" })
<br />
<br />
@if (TempData["errorKitap"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["errorKitap"]
    </div>
}
<br />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fotoğrafı</th>
            <th>Kitap Adı</th>
            <th>Kitap Yazarı</th>
            <th>Kategori</th>
            <th>Basım Yılı</th>
            <th>Yayın Evi</th>
            <th>Sayfa Sayısı</th>
            <th>Durum</th>
            <th class="not-export-col">Güncelle</th>
            <th class="not-export-col">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kitap in Model)
        {
            <tr>
                <td>@kitap.ID</td>
                <td>
                    <img class="img-fluid" src="@kitap.KITAPRESIM" alt="" />
                </td>
                <td>@kitap.AD</td>
                <td>@kitap.TBLYAZAR.AD&nbsp;@kitap.TBLYAZAR.SOYAD</td>
                <td>@kitap.TBLKATEGORI.AD</td>
                <td>@kitap.BASIMYIL</td>
                <td>@kitap.YAYINEVI</td>
                <td>@kitap.SAYFA</td>
                @*<td>@kitap.DURUM</td>*@
                @if (kitap.DURUM == true)
                {
                    <td>Alınabilir</td>
                }
                else
                {
                    <td>Alınamaz</td>
                }
                <td><a href="/Kitap/KitapGetir/@kitap.ID" class="btn btn-secondary">Güncelle</a></td>
                <td><a class="btn btn-danger btnSil" data-id="@kitap.ID" data-url="/Kitap/KitapSil/">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<script>
    var settings = table.fnSettings();
    settings.bResponsive = true;
    table.destroy();
    $(".table").DataTable(settings);
</script>