@model  MvcKutuphane.Models.Classes.HomeClass
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Themes/Home/css/sb-admin-2.css" rel="stylesheet">
    <style>
        .img-fluid {
            height: 15rem !important;
        }
    </style>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <!-- Nav Item - Bildirimler -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">@ViewBag.dgrislem</span>
                            </a>
                            <!-- Dropdown - Bildirimler -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Yapılan Son İşlemler
                                </h6>
                                @for (int k = Model.DegerY.Count() - 1; k > (Model.DegerY.Count() >= 6 ? Model.DegerY.Count() - 6 : 0); k--)
                                {
                                    var islem = Model.DegerY.ElementAt(k);
                                    if (islem.GETIRILENTARIH == DateTime.Today)
                                    {
                                        <a class="dropdown-item d-flex align-items-center">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-success">
                                                    <i class="fas fa-book-open text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">Personel: @islem.TBLPERSONEL.PERSONEL</div>
                                                @islem.TBLKITAP.AD
                                                <div class="small text-gray-500">@islem.TBLUYELER.AD @islem.TBLUYELER.SOYAD adlı üyemiz teslim etti.</div>
                                            </div>
                                        </a>
                                    }
                                }
                                <a class="dropdown-item text-center small text-gray-500" href="/Islem/Index">Tüm İşlemleri Göster</a>
                            </div>
                        </li>
                        <!-- Nav Item - Gelen Mesajlar -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">@ViewBag.dgr2</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Gelen Mesajlar
                                </h6>
                                @for (int k = Model.DegerX.Count() - 1; k > (Model.DegerX.Count() >= 6 ? Model.DegerX.Count() - 6 : 0); k--)
                                {
                                    var mesaj = Model.DegerX.ElementAt(k);
                                    if (mesaj.TARIH == DateTime.Today)
                                    {
                                        <a class="dropdown-item d-flex align-items-center">
                                            <div class="font-weight-bold">
                                                <div class="text-truncate">@mesaj.KONU</div>
                                                <div class="small text-gray-500">@mesaj.AD · @mesaj.MAIL</div>
                                            </div>
                                        </a>
                                    }
                                }

                                @*@foreach (var mesaj in Model.DegerX)
                                    {
                                        <a class="dropdown-item d-flex align-items-center">
                                            <div class="font-weight-bold">
                                                <div class="text-truncate">@mesaj.KONU</div>
                                                <div class="small text-gray-500">@mesaj.AD · @mesaj.MAIL</div>
                                            </div>
                                        </a>
                                    }*@
                                <a class="dropdown-item text-center small text-gray-500" href="/Iletisim/Index/">Tüm Mesajları Görüntüle</a>
                            </div>
                        </li>

                        <!-- Nav Item - Kullanıcı Adı ve Resim -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Session["personel"]</span>
                                <img class="img-profile rounded-circle" src="@Session["foto"]">
                            </a>

                            <a class="dropdown-item" href="/Personel/ProfilGuncelle/">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profili Güncelle
                            </a>
                            <a class="dropdown-item" href="/Ayarlar/Index/">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Ayarlar
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-info fa-sm fa-fw mr-2 text-gray-400"></i>
                                Yazılım Hakkında
                            </a>
                            <div class="dropdown-divider"></div>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış Yap
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Ana Sayfa</h1>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- 1-Bugün Kazanılan Tutar Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Bugün Kazanılan Tutar</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">₺@ViewBag.dgrgk</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2-Toplam Kasadaki Tutar Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Toplam Kasadaki Tutar</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">₺@ViewBag.dgr1</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--3- Bugün En Son Verilen Kitap Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Bugün En Son Verilen Kitap</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        @if (ViewBag.dgrkitapson == null)
                                                        {
                                                            <span>-</span>
                                                        }
                                                        else
                                                        {
                                                            @ViewBag.dgrkitapson
                                                        }
                                                    </div>
                                                </div>
                                                @*<div class="col">
                                                        <div class="progress progress-sm mr-2">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>*@
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 4- Bugün Verilen Emanet Kitap Sayımız Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Bugün Emanet Verilen Kitap Sayısı</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.gunlukemanet</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-alt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Yıllık Kazanç Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Yıllık Kazanç Grafiği</h6>
                                    @*<div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Dropdown Header:</div>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>*@
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Kategori Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Kitap Kategori Oranları</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Roman
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Polisiye
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Rus Klasikleri
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2.Satır Card Examples -->
                    <div class="row">
                        <!-- 2.1-En Aktif Üye Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">En Aktif Üye</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.enuye</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-alt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2.2-En Başarılı Personel Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">En Başarılı Personel</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.enpersonel</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-ninja fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--2.3- En Çok Okunan Kitap Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">En Çok Okunan Kitap</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.dgrkitap</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2.4- En Yayınevi Yazar Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">En Çok Kitabı Olan Yazar</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.enyazar</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-pencil-ruler fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3.Satır Card Examples -->
                    <div class="row">
                        <!-- 3.1-Üye Sayısı Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Toplam Üye</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.uye</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 3.2-Personel Sayısı Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Toplam Personel</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.personel</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-ninja fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--3.3- Kitap Sayısı Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Toplam Kitap</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.kitap</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-address-book-o fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 3.4- Yazar Sayısı Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Yazar Sayısı</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.yazar</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-pencil-alt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">
                            <!-- Genel Bilgi Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Hakkımızda</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem; height:15rem; margin-top:-65px !important;" src="~/Content/img/bookhome.png" alt="">
                                    </div>
                                    <p>MVC5 teknolojisi ile geliştirilmiş projemizde; Admin Paneli, Üye Vitrin Bölümü ve <a target="_blank" rel="nofollow" href="~/Panel/Index/">Üye Paneli </a>bulunmaktadır. Projemiz geliştirilmeye devam ediyor...</p>
                                    <a target="_blank" rel="nofollow" href="/Vitrin/Index/">Üye Vitrin Bölümünü Görüntüle&rarr;</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <!-- İlerleme Process Bar Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Yapım Aşamasında Olan Projeler</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Giriş Kısmı <span class="float-right">10%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Üye Profil Alanı <span class="float-right">10%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Admin Giriş Kısmı <span class="float-right">0%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Admin Profil Alanı <span class="float-right">80%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Veritabanı İşlemleri <span class="float-right">Tamamlandı!</span></h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Gidişiniz bizi üzüyor...</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Çıkış yapmak istediğinize emin misiniz?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hayır</button>
                    <a class="btn btn-primary" href="/AdminLogin/CikisYap/">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        let gunlukKazanc;
        let roman;
        let polisiye;
        let rusKlasik;
        (function () {
            gunlukKazanc = parseInt("@ViewBag.dgrgk");
            roman = parseInt("@ViewBag.dgrRoman");
            polisiye = parseInt("@ViewBag.dgrPolisiye");
            rusKlasik = parseInt("@ViewBag.dgrRusKlasik");
        })();
    </script>
    <script src="~/Themes/Home/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Themes/Home/js/demo/chart-area-demo.js"></script>
    <script src="~/Themes/Home/js/demo/chart-pie-demo.js"></script>
</body>
</html>


