@model MvcKutuphane.Models.Entity.TBLUYELER
@{
    ViewBag.Title = "UyeGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using (Html.BeginForm("UyeGuncelle", "Uye", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        @Html.LabelFor(m => m.AD)
        @Html.TextBoxFor(m => m.AD, new { @class = "form-control", placeholder = "Üye Adı" })
        @*@Html.ValidationMessageFor(m => m.AD)*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SOYAD)
        @Html.TextBoxFor(m => m.SOYAD, new { @class = "form-control", placeholder = "Üye Soyadı" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MAIL)
        @Html.TextBoxFor(m => m.MAIL, new { @class = "form-control", placeholder = "Üye Mail Adresi" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.KADI)
        @Html.TextBoxFor(m => m.KADI, new { @class = "form-control", placeholder = "Üye Kullanıcı Adı" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SIFRE)
        @Html.TextBoxFor(m => m.SIFRE, new { @class = "form-control", placeholder = "Üye Şifresi" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FOTOGRAF)
        @Html.TextBoxFor(m => m.FOTOGRAF, new { @class = "form-control", placeholder = "Üye Fotoğraf Linki" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TELEFON)
        @Html.TextBoxFor(m => m.TELEFON, new { @class = "form-control", placeholder = "Üye Telefon Numarası" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OKUL)
        @Html.TextBoxFor(m => m.OKUL, new { @class = "form-control", placeholder = "Üye Okul Adı" })
    </div>
    <div>
        <button type="submit" class="btn btn-success">Güncelle</button>
    </div>
    @Html.HiddenFor(y => y.ID)
}


